# 2022.05.20(금) | 고급파이썬 프로그래밍

## Intro.
- teamproject 3 리뷰 두 시간 동안 진행함.
- 함수 심화 할 수 있는 내용까지 할 예정.

<hr>

## Class

### 함수 II

#### asterisk (stars) *, **

In [2]:
def print_arg(args):
    print(args)
    
print_arg('hey')
# 원래는 인자로 넘기는 값 하나만 출력되는 함수.

hey

In [5]:
def print_arg(*args):
    # 인자를 튜플로 묶어서 활용하는 역할
    print(args)
    
print_arg('hey', 'hello', 'hi')
# asterisk를 사용하면 여러 개를 넣어도 다 출력 가능하다.

('hey', 'hello', 'hi')

In [7]:
def print_arg(*args): #1. 패킹 : 인자를 튜플로 묶어서 활용하는 역할
    print(*args) # 2. 여기에서도 *을 쓰면 언패킹이 됨. (튜플 -> 인자로)
    
print_arg('hey', 'hello', 'hi')
# asterisk를 사용하면 여러 개를 넣어도 다 출력 가능하다.

hey hello hi

In [21]:
def print_arg2(name, *args):
    print('obligatory', name)
    print(*args)
    
print_arg2('book', 1, 2, 3, 4)

x = print_arg2('book', nums)
y = print_arg2('book', *nums)

print_arg2('book2')
nums = (1, 2, 3, 4)
# args에 들어가는 값이 없어도 name 출력 가능.

obligatory book
1 2 3 4
1)  None
obligatory book
(1, 2, 3, 4)
obligatory book
1 2 3 4
obligatory book2

#### 외부에서 활용하기
- 컬렉션 자료형 언패킹 출력 시
- zip()과도 같이 많이 쓰임
- 키워드 전용 인수 선언
    - 별 뒤에 오는 매개변수들은 반드시 키워드 인수로 들어오도록 설정하는 역할
    - kargs(keyword arguments)와 혼선을 빚지 않기 위해

In [12]:
nums = list(range(5))
print(*nums)

0 1 2 3 4

In [18]:
a = [
    [1, 2],
    [3, 4],
    [5, 6]
]

# 1, 3, 5 | 2, 4, 6
for row in zip(*a):
    print(row)

(1, 3, 5)
(2, 4, 6)

In [22]:
def print_data(data, *, start, end):
# start = 0, end = 0 이런 식으로 적어줬어야 함.
    for value in data[start:end]:
        print(value)
        
print_data(nums, start = 1, end = 3)

2
3

#### **

In [26]:
def print_kargs(**kargs): # 딕셔너리로 묶는 기능
    print(kargs) # 여기서는 **으로 언패킹 불가능
    # print(kargs['wine'], 'is semi-sweet') # get(key, default)
    
print_kargs(wine = 'merlot', dessert = 'cake')

{'wine': 'merlot', 'dessert': 'cake'}

In [25]:
wine_list = 'merlot cabernet crianza'.split()
for wine in wine_list:
    print_kargs(wine=wine, dessert='scone')

{'wine': 'merlot', 'dessert': 'scone'}
merlot is semi-sweet
{'wine': 'cabernet', 'dessert': 'scone'}
cabernet is semi-sweet
{'wine': 'crianza', 'dessert': 'scone'}
crianza is semi-sweet

In [30]:
def print_both(one, two, *args, **kargs): # 위치인수 > args > kargs
    print(one + two + sum(args))
    print(kargs)
    
print_both(1, 2, 3, 4, 5, first=1, second=2)

15
{'first': 1, 'second': 2}

#### 딕셔너리 결합할 때 사용할 수 있다. (3.5 이상)

In [33]:
x = {1: 'a', 2: 'b'}
y = {2: 'c', 3: 'd'}
z = {**x, **y}
z

{1: 'a', 2: 'c', 3: 'd'}

### 일급객체
- first class object / first class citizen
- 함수도 객체다.
- 인자로 전달 가능
- 반환값이 될 수 있다
- 수정, 할당될 수 있다

In [38]:
def answer():
    print(43)
    
def run_something(func): ## 함수가 객체인 파이썬에서만 가능
    func()
    
run_something(answer)

def run_anything(func):
    return func

run_anything(answer)() # 괄호를 붙이면 함수가 실행됨

43
43

In [41]:
def sum_args(*args):
    return sum(args)

def run_with_positional_args(func, *args):
    return func(*args)

run_with_positional_args(sum_args, 1, 3, 4, 5)

13

In [44]:
# 가변 인자일 때 => 초기화하지 않으면 변수 내용이 변할 수 있음

def func(num_list):
    # 변할 수 있음을 문서화하거나 다른 방법(copy, 새로운 걸 만들기 등)을 찾을 것.
    sum_num = sum(num_list)
    num_list.append(sum_num)
    
a = [1, 3, 5]
func(a)

In [45]:
a

[1, 3, 5, 9]

In [46]:
func(a)
a

[1, 3, 5, 9, 18]

### 내부함수 => 다음주

### 익명함수 (람다)
- lambda
- 함수인데 이름이 없음 (def, return)
- 사용 상황 : 단순한 함수를 사용할 때
- 단, 잦은 사용은 권장하지 않는다. => 직관적이지 않고 재활용 낮다.
- lambda x: <x를 요리할 코드>

In [50]:
# lambda x: x.lower()

def f(x, y):
    return x.lower()

f2 = lambda x: x.lower()
f2('OK')

'ok'

In [51]:
(lambda x: x.lower())('OK') # 그냥 바로 이렇게 해도 됨.

'ok'

In [52]:
f3 = lambda x, y: x + y
f3(5, 5)

10

In [55]:
# abc -> 첫 글자 대문자로 만들고 !붙여서 lambda함수 만들기
(lambda x: x.capitalize()+"!")('abc')

'Abc!'

<hr>

# Outro.
- 다음주는 수업이 없기 때문에 복습 파일도 2주 뒤까지 올리면 되고, 프로젝트 한 주 쉬어감.