# 2주차 | 고급파이썬프로그래밍 | 2022.03.11(금)

## Intro.

### notice
- 1. 이 수업에서의 Github = 복습 코드 올리는 공간 / 다른 사람들 코드 참고할 수 있는 공간
- 2. 복습 파일은 내용 알차게, 개인적으로 내용 더 채우기.
- 3. 다음주부터 6명씩 팀 구성

<hr>

## Class
### Chapter 02 - Variables()

In [9]:
a = 10
print(a, type(a))
print("\n")

# 정수 > 소수 변환
print(float(a), type(float(a)))
print("\n")

# 정수 > 문자열 변환
print(str(a), type(str(a)))
print("\n")

# 정수 > bool형 변환
print(bool(a), type(bool(a)))
print("\n")

# 소수 > 정수 변환 : 소수점을 버림
print(float(int(10.6)), type(float(int(10.6))))
print("\n")

# 문자열 > 정수 변환
str2 = "101.1"
#int(str2) #형태에 맞게 변환하지 않았으므로 에러가 난다.
print(float(str2), type(float(str2)))
print(round(float(str2))) # 소수점을 없애고 싶으면 round()함수로 반올림 해준다.

10 <class 'int'>


10.0 <class 'float'>


10 <class 'str'>


True <class 'bool'>


10.0 <class 'float'>


101.1 <class 'float'>
101

In [101]:
# 교수님께서 말씀해주신 입력 꿀팁
print('orange', 'apple', 'tomato') # default: 띄어쓰기, 줄바꾸기
print("the next line")

orange apple tomato
the next line

In [103]:
orange = "orange"
apple = "apple"
tomato = "tomato"

#1.
print(orange + apple + tomato) # + 연결의 경우 사용이 가능은 하지만, 원소들간의 공백이 사라진다
print(orange, apple, tomato, sep=' ', end='\n') #default
print(orange, apple, tomato, sep='_', end='\n\n') 
print('EOL') # End Of Line

orangeappletomato
orange apple tomato
orange_apple_tomato

EOL

In [15]:
# 라인이 짧을 때 => ;
num = 5; print(num)

5

### Chapter 02 - input()

: consle에서 사용자에게 값을 입력받는 함수

In [7]:
name = input("what's your name?")
print(name)

what's your name? 김예지

김예지

In [13]:
# 문장 외의 다른 타입으로 사용하고 싶을 땐? 형 변환

age = input("How old are you?")
print(age)
print(type(age)) # 형 변환을 하지 않음

age2 = int(input("Write it again"))
print(age2)
print(type(age2)) # 형 변환을 함

print(f'나이는 {age2}살입니다.')

How old are you? 21

21
<class 'str'>

Write it again 21

21
<class 'int'>
나이는 21살입니다.

#### Quiz 1
- 택배 정보를 입력 받고 무게에 따른 값 산정하기
  - 수취인 성명:
  - 수취인 주소:
  - 배송비: 3000원
  - 물건 비용: <계산된 값>원
  - 총 합계: <계산된 값>원
- 물건 비용은 무게(g) * 5
- 입력 값 = 이름, 주소, 무게

In [16]:
name = input("수취인의 성명을 입력해주세요 : ")
ad = input("주소를 입력해 주세요 : ")
g = int(input("물건의 무게는 얼마입니까? : "))
print("\n")
print(f'물건의 비용은 {g*5}원 입니다.')
print(f'배송비 포함 총 합계는 {g*5+3000}원 입니다. 감사합니다.')

수취인의 성명을 입력해주세요 :  김예지
주소를 입력해 주세요 :  고양시
물건의 무게는 얼마입니까? :  7000

물건의 비용은 35000원 입니다.
배송비 포함 총 합계는 38000원 입니다. 감사합니다.

### Chapter 03

In [100]:
# Boolean

print(bool(0))
print(bool(1)) 
print(bool(-1)) # bool에서 0이외의 숫자는 True다.

print("\n")

print(bool(None))
print(bool("apple")) # 문장은 True이다.
print(bool()) # 공백은 False이다. 뒤에서 더 다룰 예정

False
True
True


False
True
False

In [26]:
# Integer

print(100,000) # 쉼표를 쓰면 의도한 값이 나오지 않는다.
print(100_000) # 0 사이를 구분하고 싶을 땐 언더바(_)사용.

100 0
100000

In [30]:
# 연산자 | Operator

x = int(input("첫 번째 정수를 입력하세요 : "))
y = int(input("두 번째 정수를 입력하세요 : "))

print(x + y)
print(x - y)
print(x * y)
print(x / y) # 부동 소수점 나누기
print(x // y) # 정수 나누기(소수점 이하 버림)
print(x % y) # 나머지
print(x ** y) # 제곱

첫 번째 정수를 입력하세요 :  9
두 번째 정수를 입력하세요 :  4

13
5
36
2.25
2
1
6561

In [31]:
divmod(x, y) # (몫, 나머지)

(2, 1)

In [32]:
# division by zero : 0으로 나눠지지 않도록 항시 유의할 것.

In [33]:
# 띄어쓰기 해도 답은 잘 도출된다.
1 + 10    -8

3

In [39]:
# 복합 대입 연산자 | compound assignment operator
a = 9
print(a)

a += 5
print(a)

a -= 3
print(a)

a *= 8
print(a)

a //= 6
print(a)

a **= 2
print(a)

9
14
11
88
14
196

#### Quiz 1.
- 반지름을 입력 받아서 원의 면적 구하기
- 면접 = pi * r제곱

#### Quiz 2.
- 숫자를 입력 받고 3의 배수인지 확인하기
- 숫자를 입력받고 홀수인지 확인하기

In [104]:
import math

r = int(input("반지름을 입력해주세요 : "))
# pi = 3.14 # math 모듈이 없는 경우 pi를 따로 설정함.
area = pi * (r**2)

print(f'원의 면적은 {area}입니다.')
print(f'원의 면적은 {round(area)}입니다.') # round() 함수는 반올림 해줌.

반지름을 입력해주세요 :  3

원의 면적은 28.26입니다.
원의 면적은 28입니다.

In [48]:
num = int(input("숫자를 입력해주세요. : "))
print("\n")
if num % 3 == 0:
  print(f'{num}은 3의 배수가 맞습니다.')
else :
  print(f'{num}은 3의 배수가 아닙니다.')

if num % 2 != 0:
  print(f'{num}은 홀수입니다.')
else : 
  print(f'{num}은 짝수입니다.')

숫자를 입력해주세요. :  339

339은 3의 배수가 맞습니다.
339은 홀수입니다.

### 지수표현
- 예 : `1.0e-4`
- e의 앞부분은 소수, 정수 둘 다 됨.
- 뒷부부은 정수여야 함.
- 뒷부분은 소숫점 자릿수와 연관됨.
- 대문자 E, 소문자 e 모두 가능

In [59]:
print(1.0e4)

# 0.0004005 > 지수로 표현하기
print(4005.e-7)
print(4.005e-4)

10000.0
0.0004005
0.0004005

### 3장 연습문제

In [60]:
# 3.1 1시간은 몇 초인가? 
# 3.2 계산한 결과를 seconds_per_hour 변수에 저장해보자
seconds_per_hour = 60 * 60
print(seconds_per_hour)

# 3.3 1일은 몇 초인가? seconds_per_hour 변수를 사용해보자 
# 3.4 계산한 결과를 seconds_per_day 변수에 저장해보자
seconds_per_day = seconds_per_hour * 24
print(seconds_per_day)

# 3.5 부동 소수점 (/) 나눗셈을 사용해서 seconds_per_day를 seconds_per_hour로 나누어보자
print(seconds_per_day / seconds_per_hour)
print(type(seconds_per_day / seconds_per_hour))

# 3.6 이번에는 정수 (//) 나눗셈을 사용해보자. 위의 결과와 같은가?
print(seconds_per_day // seconds_per_hour)
print(type(seconds_per_day // seconds_per_hour))

3600
86400
24.0
<class 'float'>
24
<class 'int'>

<hr>

## TextBook

## Chapter 04 | 선택하기 : if

### 4.1주석 달기 : #

In [67]:
a = 3 # 주석입니다
"""
주석1
주석2
주석3
"""
print(a)

3

In [68]:
# 하지만 해시가 문자열 안에 있다면 동작하지 않는다.
print("hey, there #")

hey, there #

### 4.2 라인 유지하기 : \

보통 80자가 넘어가면 `\`를 써서 다음 줄에 계속 입력하는 것을 권고함.

In [63]:
sum = 1 + \
2 + \
3 + \
4
print(sum)

10

In [66]:
# 표현식이 쌍을 이루는 괄호(중괄호{}, 대괄호[]도 가능)의 중간에 있으면 잘 동작함.
sum = ( 1 +
       2 +
       3 +
       4)
print(sum)

10

### 4.3 비교하기 : if, elif, else

In [70]:
if 3 != 1:
  print("두 수는 같지 않다.")

두 수는 같지 않다.

In [71]:
if 3 != 1:
  print("두 수는 같지 않다.")
else:
  print("두 수가 같다.")

두 수는 같지 않다.

In [72]:
a = 4
if a < 3:
  print("3보다 작다")
elif a == 3:
  print("3이다")
else:
  print("3보다 크다")

3보다 크다

In [74]:
a = 4
if a < 3:
  print("3보다 작다")
if a == 3:
  print("3이다")
if a > 4:
  print("3보다 크다")

# print를 하기에 적합한 if문이 없으므로 출력되지 않음.

#### 비교 연산자
- x < y
- x > y
- x >= y
- x <= y
- x == y (값이)
- x != y
- x is y (값, 메모리주소)
- x is not y

### 4.4 True와 False

#### 명시적으로 boolean을 사용하지 않아도 다음은 모두 False이다.
- null | none
- 정수 0 | 0
- 부동소수점 0 | 0.0 
- 빈 문자열 | ' '
- 빈 리스트 | []
- 빈 튜플 | ()
- 빈 딕셔너리 | {}
- 빈 셋 | Set()

### 4.5 여러 개 비교하기 : in

In [79]:
vowels = 'aeiou'
letter = 'o'
letter in vowels

True

In [80]:
if letter in vowels:
    print(letter, 'is a vowel')

o is a vowel

### 4.6 새로운 기능 : 바다코끼리 연산자

바다코끼리 연산자 `:=`는 할당과 텍스트를 한 단계로 줄일 수 있다.

In [91]:
#page.105

tweet_limit = 200
tweet_string = "Blah" * 50
# tweet_string = "Blaah" * 50

if diff := tweet_limit - len(tweet_string) >= 0:
    print("A fitting tweet")
    # len()함수는 문자열의 길이를 세어 준다.
else:
    print("Went over by", abs(diff)) # abs()는 절댓값 함수이다.
    
# 길이 4로 이루어진 "Blah" * 50은 200을 넘지 않으므로 if문이 실행된다.
# 밑에 있는 "Blaah"를 실행시키면 200을 넘기므로 else문이 실행된다.

A fitting tweet

### 4장 연습문제
4.1 : 1~10의 숫자 중 하나로 이루어진 secret, guess 변수를 비교하여 guess 변수가 secret 변수보다 작으면 'too low', 크면 'too high', 같으면 'just right' 출력하기.<br><br>
4.2 : True나 False를 samll과 green 변수에 할당하여, 변수를 기준으로 체리, 완두콩, 수박, 호박 출력하기.

In [94]:
# 4.1
secret = int(input("secret 변수를 입력해주세요 : "))
guess = int(input("secret 변수는 무엇일까요? : "))

if secret > guess:
    print("too low")
elif secret < guess:
    print("too high")
else:
    print("just right")

secret 변수를 입력해주세요 :  7
secret 변수는 무엇일까요? :  7

just right

In [97]:
# 4.2
small = True
green = False

if small:
    if green:
        print("pea")
    else:
        print("cherry")
else:
    if green:
        print("watermelon")
    else:
        print("pumpkin")

# True인 것을 찾아 출력하기 때문에, True값을 할당받은 small에 해당하면서 False값을 할당받은 green에 해당하지 않는(즉, 작고 초록색이 아닌) cherry가 출력된다.

cherry

<hr>

## Outro.

#### notice

- 복습 파일은 한 주에 하나씩 만들어서 올리기. (형식 : week_00.ipynb)
- 수업 관련 질문은 e-class에
- 개인 질문은 조교님께 이메일, cc에 교수님 추가하기